---
import VenueInfo from "components/VenueDetailsZh.astro";
import Layout from "layouts/LayoutLandingZh.astro";
import HeroText from "components/HeroText.astro";
import GetTickets from "components/GetTickets.astro";
---

<Layout
  title="会议地点 – GOSIM Hangzhou 2025"
  description="Information about the venue for GOSIM Hangzhou 2025"
  navBackground="lightgray"
>
  <HeroText title="会议地点" />

  <section class="section" data-theme-section="light" data-bg-section="light">
    <VenueInfo />
  </section>

  <GetTickets
    title="获取您的 GOSIM Hangzhou 2025 门票"
    location="浙江 杭州"
    date="2025年9月13-14日"
    text="立即预定您在 GOSIM Hangzhou 2025 的席位。与创新者合作，与行业先驱交流，并成为塑造开源技术未来的一部分。"
    ctaButton={{
      text: "活动已结束，感谢参与",
      link: "",
      openInNewTab: false,
    }}
  />
</Layout>
