---
import VenueInfo from "../components/VenueDetails.astro"
import Layout from "layouts/LayoutLanding.astro"
import HeroText from "components/HeroText.astro"
import GetTickets from "components/GetTickets.astro"
import LocationConnectivity from "components/LocationConnectivity.astro"
---

<Layout
  title="Venue – GOSIM Paris 2026"
  description="Information about the venue for GOSIM Paris 2026"
  navBackground="lightgray"
>
  <HeroText title="Venue" />

  <section class="section" data-theme-section="light" data-bg-section="light">
    <VenueInfo />
  </section>
  <LocationConnectivity />

  <GetTickets
    title="Grab your GOSIM Paris ticket"
    location="Paris"
    date="May 6-7, 2026"
    text="Secure your spot today at GOSIM Paris 2026. Collaborate with innovators, engage with industry pioneers, and be part of shaping the future of open-source technology."
    ctaButton={{
      text: "Event ended, thanks for attending",
      link: "",
      openInNewTab: false,
    }}
  />
</Layout>
